html {
    height: 100%;
    position: relative;
    width: 100%;
}

body {
    height: 100%;
}

h3 {
    padding: 10px;
    text-align: center;
}

input {
    display: inline-block;
    margin: 3px 30px 3px 30px;
}

#code-input {
    display: block;
    margin: auto;
}

#main-row {
    height: 100%;
}

#light-theme, #dark-theme {
    display: inline-block;
}

.main {
    height: 100%;
    overflow: scroll;
}

.sidebar {
    height: 100%;
    position: fixed;
    right: 0px;
    border-left: 3px solid lightgrey;
    border-radius: 1%;
    overflow: scroll;
}

.theme-selector-container {
    text-align: center;
}

.theme-config h4 {
    margin: 12px;
}

.slider-red, .slider-green, .slider-blue {
    width: 90%;
    margin: auto;
}

.slider-container label {
    width: 7%;
}

.color-display-container {
    width: 100%;
    height: 100%;
}

.color-display {
    width: 80%;
    height: 50px;
    margin: 10px auto auto auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    height:4px;
}

input[type=range]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 2px;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
